<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
<configuration>
	  <typeAliases>
		   	<typeAlias  alias="testVO" type="com.practice.test.TestVO"/>
		   	<typeAlias  alias="memberVO" type="com.practice.model.MemberVO"/>
		   	<typeAlias  alias="teacherVO" type="com.practice.model.TeacherVO"/>
		   	<typeAlias  alias="adminstrationVO" type="com.practice.model.AdministrationVO"/>
		   	<typeAlias  alias="cafeteriaVO" type="com.practice.model.CafeteriaVO"/>
		   	<typeAlias  alias="otherStaffVO" type="com.practice.model.OtherStaffVO"/>
		   	<typeAlias  alias="Payment_ManagementVO" type="com.practice.model.Payment_ManagementVO"/>
		   	<typeAlias  alias="studentVO" type="com.practice.model.StudentVO"/>
		   	<typeAlias  alias="SchoolEventVO" type="com.practice.model.SchoolEventVO"/>
		   	<typeAlias  alias="DocumentVO" type="com.practice.model.DocumentVO"/>
	  </typeAliases>
	  
	  
	  <mappers>
	  		<mapper resource="com/practice/config/db/mapper/test.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/member.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/login.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/teacher.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/administration.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/cafeteria.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/otherstaff.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/payment.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/student.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/schoolevent.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/document.xml"/>
	  </mappers> 
	  
	  
</configuration>